video{
    max-width: 100%;
  }
 
.videoContainer {
  display:flex;
  justify-content: center;
  align-content: center;


  @media (max-width: $mantine-breakpoint-sm) {
    display:flex;

    height: auto; 
    margin: auto;
    align-content: center;
    padding: 0;
  }
}


.dimmedVideo {
  filter: brightness(60%);
}